p.text We wtorek polecamy; Zupa ogórkowa z ziemniakami. Spaghetti Carbonara Spaghetti z pełnego ziarna, pierś kurczęcia z rusztu w lekkim sosie śmietanowym, chrupiący boczek, pomidor koktajlowy, świeżo tarty parmezan. Smacznego Zapraszamy
