link(rel="stylesheet" href="/css/menu-layouts.css")
mixin menuItem(title)
    div(class="list-button" class="menu-title-wrapper")
        h4.title #{title}
        i(class="fas fa-angle-down")


mixin item(text, price)
    ul
        li.list
            h4.list-text #{text}
            div #{price}zł

div.menu-layout
    h2.title Nasze Menu
    div.menu
        //div.course-day
        //    h4.title Dzisiaj polecamy
        //    //Danie dnia !!!
        //    p.text W sobotę polecamy; Golonka pieczona po bawarsku, domowe kluseczki Schupfnudel, kapusta zasmażana.

        div.menu-wrapper
            +menuItem('Małe co nieco')
            div(class="list-disable")
                +item('1. Quesadilla pszenne tortille wypełnione roztopionym serem, z szynką lub szpinakiem, dowolny sos', '29.90')
                +item('2. Ślimaki z gorącego pieca w maśle czosnkowym, pieczywo czosnkowe', '34.90')
                +item('3. Chrupiące skrzydełka BBQ, sos czosnkowy', '28.10')
        div.menu-wrapper
            +menuItem('Zupy')
            div(class="list-disable")
                +item('4. Zupa pomidorowa z domowym makaronem lub ryżem', '18.90')
                +item('5. Zupa cebulowa z grzanką', '19.90')
        div.menu-wrapper
            +menuItem('Sałatki')
            div(class="list-disable")
                +item("6. Rozario's: sałatka z kurczakiem mix sałat, ogórek, pomidor, krążki cebuli, papryka, suszone pomidory, paseczki pieczonego kurczaka, ziarno prażonego słonecznika, pestki dyni, rukola", '38.90')
                +item('7. Gambas: sałatka z krewetkami mix sałat, ogórek, pomidor, krążki cebuli, papryka, suszone pomidory, krewetki z patelni (10 sztuk), ziarno prażonego słonecznika, pestki dyni, rukola', '47.90')
                +item('8. sałatka z dwoma rodzajami sera mix sałat, ogórek, pomidor, krążki cebuli, papryka, suszone pomidory, sery, ziarno prażonego słonecznika, pestki dyni, rukola', '38.90')
                +item('9. Sałatka Szefa: sałatka z serem i szynką mix sałat, ogórek, pomidor, krążki cebuli, papryka, suszone pomidory, gotowane jajko, ser żółty i szynka, ziarno prażonego słonecznika, pestki dyni, rukola', '38.90')
        div.menu-wrapper
            +menuItem('Dla dzieci')
            div(class="list-disable")
                +item('10. Domowe leniwe kluski z topionym masłem, cukrem trzcinowym i cynamonem', '28.00')
                +item('11. Kotlet schabowy, frytki, surówka', '29.00')
        div.menu-wrapper
            +menuItem('Fajitas')
            div(class="list-disable")
                +item('12. Fajitas z kurczaka (łagodny, średni lub ostry): smażone paseczki mięsa z kurczaka z papryką, cebulą i jalapeno podajemy z tortillami, kwaśną śmietaną i sosem taco.', '54.90')
        div.menu-wrapper
            +menuItem('Dania główne')
            div(class="list-disable")
                +item('13. Grillowany filet kurczak w sosie słodko kwaśnym z ananasem i pędami bambusa, ryż jaśminowy', '44.90')
                +item('14. Żeberka BBQ', '64.80')
                +item('15. Grillowane plastry schabu z masłem czosnkowym', '42.20')
                +item('16. Shoarma z kurczaka, dwa dowolne sosy', '42.90')
                +item('17. Shoarma wieprzowa, dwa dowolne sosy', '44.90')
                +item('18. Shoarma z kurczaka zapiekana z serem, dwa dowolne sosy', '45.90')
                +item('19. Shoarma wieprzowa, dwa dowolne sosy', '46.90')
        div.menu-wrapper
            +menuItem('Vegan & Vegetarian')
            div(class="list-disable")
                +item('20. Falafel na liściach młodego szpinaku z oliwą i pomidorkami, ryż jaśminowy, dip jogurtowy', '42.50')
                +item('21. Gulasz z cukinii z suszonymi pomidorami i oliwkami, ryż jaśminowy', '44.90')
        div.menu-wrapper
            +menuItem('Ryby i owoce morza')
            div(class="list-disable")
                +item('22. Łosoś pieczony z masłem musztardowym, smażony młody szpinak, ryż jaśminowy', '68.80')
                +item('23. Krewetki królewskie (10 sztuk) z gorącego talerza, pieczywo czosnkowe', '47.80')
        div.menu-wrapper
            +menuItem('Pasta')
            div(class="list-disable")
                +item('24. Domowe pierogi faszerowane wołowiną, sos borowikowy, świeże listki szpinaku', '39.90')
                +item('25. Spaghetti Arrabbiata Scampi spaghetti, krewetki, cukinia, pomidorki, chili, czosnek, oliwa', '49.80')
        div.menu-wrapper
            +menuItem('Tylko w niedzielę')
            div(class="list-disable")
                +item('26. Golonka pieczona po bawarsku, domowe kluseczki ziemniaczane, zasmażana kapusta', '76.10')
        div.menu-wrapper
            +menuItem('Steaki')
            div(class="list-disable")
                +item('27. Rozario’s steak: Plaster polędwicy (220g) z grilla, masło czosnkowe', '89.80')
                +item('28. Aztek steak: Grillowany rostbef (220g), masło czosnkowe', '69.90')
                +item('29. Cheddar Cheese Jalapeno steak: Grillowany rostbef (220g) zapiekany z papryczką Jalapeno i serem Cheddar', '79.80')
                +item('30. Steak & Gambas: Grillowany rostbef (220g), 5 krewetek smażonych na maśle czosnkowym', '84.80')
                +item('31. Steak z Angusa urugwajskiego: Grillowany steak z Angusa urugwajskiego (220g), masło czosnkowe', '79.80')
        div.menu-wrapper
            +menuItem('Dodatki')
            div(class="list-disable")
                +item('32. Pieczywo z serem', '11.90')
                +item('33. Pieczywo czosnkowe', '11.90')
                +item('34. Pieczony ziemniak z dipem czosnkowym', '12.90')
                +item('35. Frytki (200g)', '12.90')
                +item('36. Ryż (200g)', '12.90')
                +item('37. Pszenne tortille (2 sztuki)', '12.90')
                +item('38. Surówka lub sałata sezonowa (150g)', '12.90')
                +item('39. Warzywa z patelni (200g)', '23.90')
                +item('40. Liście świeżego szpinaku smażone na maśle czosnkowym (150g)', '22.50')
                +item('41. Masło czosnkowe (50g)', '6.50')
                +item('42. Sosy, dip (80g)', '4.00')
                +item('43. Dressing Rozario’s (100ml)', '8.00')
                +item('44. Ketchup (1 sztuka)', '1.00')
        div.menu-wrapper
            +menuItem('Pizza (ø 32 cm)')
            div(class="list-disable")
                +item('45. Margarita: Sos pomidorowy, ser', '32.00')
                +item('46. Hawajska: Sos pomidorowy, ser, szynka, ananas', '36.90')
                +item('47. Capriciosa: Sos pomidorowy, ser, szynka, pieczarki', '36.90')
                +item('48. Salami: Sos pomidorowy, ser, salami dojrzewające, oliwki, cebula', '43.70')
                +item('49. Wegetariana: Sos pomidorowy, ser, pieczarki, papryka, cebula, oliwki', '38.50')
                +item('50. Primavera: Sos pomidorowy, ser, salami dojrzewające, szynka, oliwki, papryka, cebula', '43.90')
                +item('51. Shoarma: Sos pomidorowy, ser, shoarma wieprzowa lub z kurczaka, papryka, pieczarki, cebula', '48.80')
                +item('52. Prosciutto di rucola: Sos pomidorowy, ser, szynka dojrzewająca, rucola, pomidor, świeżo mielony pieprz, oliwa z oliwek', '48.80')
                +item('53. Mexicana (łagodna lub ostra): Sos pomidorowy, ser, fajitas z kurczaka.', '55.90')

        div.menu-wrapper
            +menuItem('Desery')
            div(class="list-disable")
                +item('54. Parfa karmelowo-orzechowa na sosie waniliowym z toffi', '26.00')
                +item('55. Mega czekoladowe brownie z wiśniami i sosem angielskim', '24.00')
                +item('56. Fresh mango pudding-pudding ze świeżego mango', '16.20')
                +item('57. Tiramisu pistacjowe', '27.20')
                +item('58. Crème brûlée', '22.00')
                +item('59. Lody waniliowe z gorącymi malinami i bitą śmietaną', '28.80')
                +item('60. Gałka lodów', '7.00')

        div.menu-wrapper
            +menuItem('Napoje gorące')
            div(class="list-disable")
                +item('61. Kawa', '12.00')
                +item('62. Espresso', '9.00')
                +item('63. Espresso doppio', '11.50')
                +item('64. Americano', '11.00')
                +item('65. Cappuccino', '14.00')
                +item('66. Latte Macchiato', '16.00')
                +item('67. Herbata Dilmah (różne smaki)', '8.00')
                +item('68. Herbata Richmont (różne smaki)', '16.00')

        div.menu-wrapper
            +menuItem('Napoje bezalkoholowe')
            div(class="list-disable")
                +item('69. Lemoniada cytrynowa  0,3l', '14.00')
                +item('70. Coca Cola, Coca Cola Zero, Fanta, Sprite, Tonic Kinley 0,25l', '8.00')
                +item('71. Kropla Beskidu/Kropla Delice 0,33l', '8.00')
                +item('72. Soki owocowe Cappy (różne smaki) 0,25l', '8.00')
                +item('73. Fuzetea 0,25l', '8.00')
                +item('74. Mięta Marokańska 0,3l', '16.50')
                +item('75. Sok ze świeżych pomarańczy 0,2l', '15.80')
                +item('76. Kawa mrożona na lodach waniliowych 0,3l', '21.90')
                +item('77. Dzbanek soku owocowego Cappy (różne smaki) 1l', '20.00')
                +item('78. Dzbanek wody mineralnej 1l', '13.00')
                +item('79. Dzbanek wody mineralnej 1,5l', '18.00')

        div.menu-wrapper
            +menuItem('Alkohole')
            div(class="list-disable")
                div
                    h5.subtitle Piwo
                    +item('80. Tyskie Gronie 0,3l', '10.00')
                    +item('81. Tyskie Gronie 0,5l', '13.00')
                    +item('82. Książęce Pszeniczne 0,5l but.', '13.00')
                    +item('83. Książęce Ciemne Łagodne 0,5l but.', '13.00')
                    +item('84. Pilsner Urquell 0,5l but.', '16.00')
                    +item('85. Lech free (Bezalkoholowe) 0,33l but.', '10.00')
                    +item('86. Sok do piwa (malina , imbir)', '2.00')
                div
                    h5.subtitle Wino
                    +item('87. Alberto Torresi Prosecco: Włochy, wino musujące, białe półwytrawne 100ml','14.90')
                    +item('88. Valmarone Prosecco Włochy, wino musujące, białe wytrawne 750ml','79.00')
                    +item('89. Jean Degaves Bordeaux: Francja, białe lub czerwone wytrawne 100ml/750ml','9.00/63.00')
                    +item('90. Chianti Colli Senesi: Włochy, czerwone wytrawne (polecane do grillowanych mięs) 100ml/750ml','10.00/69.80')
                    +item('91. Marlborough Bay Sauvignon Blanc: Nowa Zelandia, biała wytrawne (polecane do ryb i owoców morza) 100ml/750ml','12.00/85.00')
                    +item('92. Nampe Malbec: Argentyna, czerwone wytrawne (polecane do czerwonego mięsa i pikantnych sosów) 750ml','76.90')
                    +item('93. Porta Reserva Cabernet Sauvignon: Chile, czerwone wytrawne (polecane do grillowanej wołowiny i wieprzowiny) 100ml/750ml','10.00/69.80')
                    +item('94. Porta Reserve Chardonnay: Chile, białe wytrawne (polecane do ryb i owoców morza) 100ml/750ml','10.00/69.80')
                div
                    h5.subtitle Whiskey
                    +item("95. Ballantine's Finest 40ml",'16.50')
                    +item('96. Johnnie Walker Red Label 40ml','16.50')
                    +item("97. Jack Daniel's Old. No. 7 40ml",'18.00')
                    +item('98. Chivas Regal 12 Years 40ml','19.00')
                div 
                    h5.subtitle Koniak 
                    +item('99. Hennessy V.S. 40ml', '20.00')
                div
                    h5.subtitle Gin
                    +item('100. Seagram’s 40ml','13.50')
                div
                    h5.subtitle Wódka
                    +item('101. Wyborowa 40ml / 500ml','8.00/80.00')
                    +item('102. Żubrówka 40ml / 500ml','8.00/80.00')
                    +item('103. Finlandia 40ml / 500ml','9.50/100.00')
                div
                    h5.subtitle Inne alkohole
                    +item('104. Tequila 40ml','13.50')
                    +item('105. Bacardi Superior 40ml','13.50')
                    +item('106. Havana Club 40ml','14.50')
                    +item('107. Malibu 40ml','13.50')
                    +item('108. Jägermeister 40ml','12.50')
                    +item('109. Amaretto 40ml','12.50')
                    +item('110. Triple Sec 40ml','12.50')
                    +item('111. Kahlua 40ml','12.50')
        div.menu-wrapper
            +menuItem('Drinki')
            div(class="list-disable")
                +item('112. Mojito: Bacardi Superior, limonka, mięta, cukier trzcinowy, woda gazowana', '24.90')
                +item('113. Mojito virgin: Mojito bezalkoholowe Limonka, mięta, cukier trzcinowy, Sprite', '21.90')
                +item('114. Sex on the beach: Wyborowa, Malibu, sok pomarańczowy, sok z czarnej porzeczki', '26.90')
                +item('115. Aperol Spritz: Aperol, Prosecco, woda gazowana', '24.90')
                +item('116. HUGO: Prosecco, syrop z kwiatów czarnego bzu, limonka, mięta', '24.90')
                +item('117. Long Island Iced Tea: wódka, gin, rum, tequila, likier pomarańczowy, syrop cukrowy, sok z limonki, Coca-Cola', '33.10')
                +item('118. Cuba Libre Havana Club, sok z limonki, Coca Cola', '21.90')
                +item('119. Campari Orange: Campari, sok pomarańczowy', '24.90')
                +item('120. Wściekły Pies Shot: Wyborowa, sok malinowy, tabasco', '11.00')

    div.menu-information
        p Chcesz zamówić na wynos lub zarezerwować stolik?  Zadzwoń! 42 689 09 51

script(src="../js/menuDisplay.js")