extends layouts/deafult.pug

block pageTitle
    title Rozario's Steakhouse
    meta(name="description" content="Restauracja Rozario's mieści się przy Al. Ks. Kard. Stefana Wyszyńskiego 67. Powstała w 1999 roku i bardzo szybko zdobyła uznanie zarówno wśród mieszkańców Retkinia jak i gości z najdalszych zakątków Łodzi. W Steakhouse Rozario's można zjeść najlepsze w Łodzi steki, dania BBQ oraz wyśmienitą pizzę.")
block styles
    link(rel="stylesheet" href="/css/main.css")

block headerContent
    div.header-wrapper
        div.header-content
            h1.title  Rozarios's Steakhouse
            p.text W "Steakhouse Rozarios" można zjeść najlepsze w Łodzi steki. Wszystkie dania przygotowane są na bieżąco, z najwyższej jakości składników.
            div.header-nav
                a(href='/menu' class="link") Menu
                a(href='/lokalizacja' class="link") Lokalizacja
block menuContent
    include layouts/menu-layout

block sliderContent
    include layouts/slider-layout

block informationContent
    include layouts/information-layout