
.slider{
   overflow: hidden;
}

.slider .slides-wrapper {
    display: flex;
    transition: all 1s;
    transform: translateX(0);

}

.slider .slides-wrapper .slide {
    width: 100%;
}
.slider .slides-wrapper .slide.active {
    display: block;
}

.slider {
    padding: 50px 0;
    background-color: #000;
    position: relative;
}

.slider .arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(52, 42, 42, 0.83);
    border: none;
    color: #f0f0f0;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
}

.slider .arrow.left{
    left: 40px;
}

.slider .arrow.right{
    right: 40px;
}

@media(max-width: 860px){
    .slider .arrow{
        padding: 0;
        height: calc(100% - 100px);
        border-radius: 0;
        width: 8%;
        font-size: 32px;
    }
    .slider .arrow.left{
        left: 0;
    }
    .slider .arrow.right{
        right: 0;
    }
    .slider .slides-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 450px){
    .slider .arrow{
        width: 15%;
        font-size: 28px;
    }
}